.page {
  height: 100vh;
  overflow: hidden;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.layout {
  display: grid;
  grid-template-columns: 2fr 3fr;
  flex: 1;
  overflow: hidden;
}

.mapCol {
  overflow: hidden;
  position: relative;
}
